.modal.show {
    margin-top: 2rem;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
}

.modal-dialog-centered.custom-modal {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
    max-width: 80%;
    /* Adjust the width as needed */
    max-height: 80%;
    /* Adjust the height as needed */
}

.custom-modal .modal-content {
    overflow: hidden;
    /* Prevent the modal content from overflowing */
}

.custom-modal .modal-body {
    overflow-y: hidden;
    /* Enable vertical scrolling */
    max-height: 60vh;
    /* Adjust the maximum height of the modal body */
}

.custom-modal-card {
    max-height: 50vh;
    /* Adjust the maximum height of the table card */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    /* Adjust as needed */
    overflow-y: auto;
}